.lds-dual-ring {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #85d4ff transparent #85d4ff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-container {
  position: relative;

  &-popup {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #afe8fa;
    height: 50px;
    padding: 5px;
    text-align: center;
  }
}


